<h1>List of Questions</h1>

<div id="qulist">
  <ul>
    <% @questions.each do |question| %>
      <li>
        <%= link_to question.title, question %>
        <%= link_to 'Delete', question, method: :delete %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Ask New Question', new_question_path %>
